<!---------------------------------   Tool Bar Section Starts   -------------------------------------------------->
<ns-tool-bar></ns-tool-bar>
<!---------------------------------   Tool Bar Section Ends      -------------------------------------------------->

<!---------------------------------   Left Nav Section Starts     -------------------------------------------------->
<ns-left-nav></ns-left-nav>
<!---------------------------------   Left Nav Section Ends        -------------------------------------------------->

<!---------------------------------   Main Space Section Starts     -------------------------------------------------->
<ns-main-space></ns-main-space>
<!---------------------------------   Main Space Section Ends       -------------------------------------------------->

<!---------------------------------   Footer Section Starts         -------------------------------------------------->
<ns-footer></ns-footer>
<!---------------------------------   Footer Section Starts         -------------------------------------------------->