<mat-toolbar color="primary">
    <mat-toolbar-row fxLAyout="row-wrap" fxLayoutAlign="center center" color="primary">
        <div fxLayout="row" fxLayoutGap="5px" fxLayout.sm="column" color="secondary">
            <div fxLayoutAlign="center center">Semerena-DEV</div>
        </div>
        <div fxFlex="100%"></div>
        <div class="outterContainer">
            <div fxLayout="row" fxLayoutGap="5px" fxLayout.sm="column" class="container">
                <div fxLayoutAlign="center center">Box 1</div>
                <div fxFlex="0 0 auto" fxLayoutAlign="center center">
                    Box 2
                </div>
                <div fxLayoutAlign="center center">Box 3</div>
                <div fxLayoutAlign="center center">Box 4</div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
