<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <h3>Main Menu</h3>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>Home</span>
          </mat-list-item>
          <mat-list-item>Main Hub for the content...</mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Devil Artimus Universe</span>
          </mat-list-item>
          <mat-list-item>You will learn evrything about it here...</mat-list-item>
          <mat-list-item>
            <span matListItemTitle>The MGTOW/Red Pill Bar</span>
          </mat-list-item>
          <mat-list-item>Welcome! Grab a beer and learn...</mat-list-item>
          <mat-list-item>
            <span matListItemTitle>The Horror Vault</span>
          </mat-list-item>
          <mat-list-item>Are you ready for a scare?...</mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Digital Content Central</span>
          </mat-list-item>
          <mat-list-item>Learn to create Engaging Digital Content here...</mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Web Development & Design Training Camp</span>
          </mat-list-item>
          <mat-list-item>We will show you how to create powerful and useful website...</mat-list-item>
        </mat-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        
      </button>
    </div>
  
  </mat-drawer-container>