.outterContainer {
    padding: 5px;
    border: 1.5px solid #b6b6b6;
    box-sizing: content-box;
}

div.container {
    margin-bottom: 10px;
}

div.container > div {
    height: 220px;
    width: 220px;
    border-radius: 35;
}

.example-container {
    height: 200vH;
}